#splash_page {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #6441A5;
  z-index: 9999;
}

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1, .cube2 {
  background-color: white;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

body {font-family: 'Short Stack', cursive !important;
      background: #6441A5;
    }

h1 {
  text-align: center;
  color: rgb(236, 236, 236);
  text-shadow: 2px 2px 5px black;
  font-size: 3.7em;
  margin-top: 30px;
  margin-bottom: 30px;
}

.row {
  margin: none;
}

.row div {
          padding: 20px;
          background-color:rgba(0,0,0,.5);                               color:white;
          margin-bottom: 1em;
          border-radius: 20px;
          white-space: nowrap;
          overflow-x: hidden;
          }

#noobs2ninjas {margin-bottom: 4em;}

h3 {font-size:2.1em;    
    text-shadow:3px 3px black;
    display:inline;
    margin-left:15px;}

p {font-size:1.5em;
   margin-left:75px;}

a {margin-left:75px;}

img {width:60px;
     border-radius:50%;}

@media only screen and (max-width:667px) {
  body {font-size:85%;}
  
  p,a {margin-left:55px;}
  
  img {width:40px;}
}